@import '_fonts';
@import '_normalize';
@import '_vars';
@import '_mixins';
@import '_bem';

html, body {
	@include mp-regular;
}

.container {
	max-width: 1410px;
	margin: 0 auto;
}
/* header */
.header {
	background: linear-gradient(0deg, $yellow, $yellow);
	&__wrapper {
		padding: 14px 0 40px 0;
	}
	&__row {
		display: flex;
		align-items: center;
		&:first-child {
			justify-content: flex-start;
		}
		&:last-child {
			justify-content: space-between;
		}
		&:not(:first-child) {
			margin-top: 9.625rem;
		}
	}
	& .image-block {
		margin-left: 75px;
	}
	&__menu {
		margin-left: 250px;
	}
	&__menu-list {
		display: flex;
		justify-content: space-between;
		align-items: center;
		list-style-type: none;
	}
	&__menu-list-item {
		&:not(:first-child) {
			margin-left: 66px;
		}
		& a {
			@include mp-bold;
			font-size: 20px;
			line-height: 20px;
			text-transform: uppercase;
			color: $darkBlue;
			text-decoration: none;
			white-space: nowrap;
		}
	}
	&__title {
		margin: 0;
		@include mp-bold;
		font-size: 60px;
		line-height: 70px;
		color: #fff;
	}
	&__breadcrumbs {
		display: flex;
		justify-content: space-between;
		align-items: center;
		list-style-type: none;
	}
	&__breadcrumb {
		&:not(:first-child) {
			margin-left: 20px;
			&:before {
				content: '';
				display: inline-block;
				margin-right: 20px;
				width: 8px;
				height: 8px;
				background-color: #fff;
				border-radius: 50%;
				opacity: 0.5;
			}
		}
		& a {
			@include mp-regular;
			font-size: 20px;
			line-height: 24px;
			color: #494952;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}
/* page */
.page {
	&__wrapper {
		padding: 60px 0 10rem 0;
	}
	&__row {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}
	&__columns {
		justify-content: flex-start;
	}
	&__column {
		display: flex;
		flex-direction: column;
		&:last-child {
			margin-left: 40px;
		}
	}
	&__list {
		margin-left: 20px;
		display: flex;
		flex-direction: column;
		list-style-type: none;
	}
	&__list-item {
		margin-top: 26px;
		padding-left: 20px;
		& a {
			@include mp-regular;
			font-size: 20px;
			line-height: 45px;
			color: $lightBlue;
			text-decoration: none;
			transition: $slow;
			&:hover {
				color: $blue;
			}
		}
	}
	&__btns {
		margin-top: 60px;
	}
	&__btn {
		&:not(:first-child) {
			margin-top: 10px;
		}
	}
	&__slider {
		min-width: 503px;
		&:not(:first-child) {
			margin-left: 40px;
		}
	}
	&__slider-row {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__slider-trigger {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@include mp-regular;
		font-size: 16px;
		line-height: 20px;
		color: $lightBlue;
		text-decoration: none;
		&:after {
			margin-left: 20px;
			content: '';
			display: inline-block;
			width: 14px;
			height: 8px;
			background-image: url('../img/icons/arrow-to-down.svg');
		}
		&.slider-trigger-active {
			&:after {
				transform: rotate(180deg);
			}
		}
	}
	&__slider-wrapper {
	}
	&__slide {
	}
	&__card-list {
		margin-top: 40px;
	}
	&__card {
		max-width: 322px;
		width: 100%;
		min-height: 458px;
		transition: $slow;
		&:hover {
			transform: scale(1.1);
			box-shadow: 0px 30px 50px #ededed;
			background-color: #fff;
		}
	}
	&__footer {
		margin-top: 80px;
	}
	// &__select {
	// 	max-width: 322px;
	// 	width: 100%;
	// 	min-height: 60px;
	// 	padding: 18px 20px;
	// 	background-color: #fff;
	// 	border: 1px solid #dfebf6;
	// 	border-radius: 10px;
	// 	outline: none;
	// 	appearance: none;
	// 	background-image: url('../img/icons/arrow-to-down.svg');
 //  		background-position: 92% center;
 //  		background-size: auto;
 // 		background-repeat: no-repeat;
 // 		cursor: pointer;
 // 		@include mp-regular;
	// 	font-size: 20px;
	// 	line-height: 24px;
	// 	color: $lightBlue;
	// 	&-option {
	// 		min-height: 50px;
	// 		padding: 13px 0;
	// 		border: none;
	// 		outline: none;
	// 	}
	// }
	&__dropdown {
		max-width: 322px;
		width: 100%;
		min-height: 60px;
		background-color: #fff;
		border: 1px solid #dfebf6;
		border-radius: 10px;
		@include mp-regular;
		font-size: 20px;
		line-height: 24px;
		color: $lightBlue;
		&-trigger {
			display: inline-block;
			width: 100%;
			padding: 17px 20px;
			border: 1px solid #dfebf6;
			border-radius: 10px;
			background-image: url('../img/icons/arrow-to-down.svg');
	  		background-position: 92% center;
	  		background-size: auto;
	 		background-repeat: no-repeat;
	 		cursor: pointer;
			color: $lightBlue;
			text-decoration: none;
		}
	}
	&__select {
		padding: 10px;
		list-style-type: none;
		flex-direction: column;
		&-option {
			padding: 10px 20px;
			cursor: pointer;
			transition: $slow;
			&:hover {
				color: $blue;
			}
		}
	}
}
/* footer */
.footer {
	background: linear-gradient(180deg, #f4f8fb 0%, rgba(244, 248, 251, 0) 43%);
	&__wrapper {
		padding: 6.3125rem 0 5.125rem 0;
	}
	&__row {
		display: flex;
		&:last-child {
			margin-left: auto;
			width: 89.5%;
			align-items: flex-end;
		}
	}
	&__column {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	&__image-block {
		max-width: 356px;
		width: 100%;
		max-height: 60px;
	}
	&__menu {
		margin-left: 132px;
		flex: 0 0 33.4%;
		&-list {
			list-style-type: none;
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-row-gap: 12px;
			&-item {
				& a {
					text-decoration: none;
				}
			}
		}
	}
	&__socials {
		margin-left: auto;
		flex: 0 0 21%;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}
	&__description {
		margin-top: 33px;
		@include mp-bold;		
		font-size: 16px;
		line-height: 20px;
		text-align: right;
		color: $lightBlue;
	}
	&__link {
		@include mp-bold;
		font-size: 16px;
		line-height: 20px;
		text-decoration: none;
	}
	& a {
		display: inline-block;
	}
	&__phone-number {
		&:not(:first-child) {
			margin-top: 10px;
		}
	}
	&__email {
		margin-left: 214px;
	}
	&__policy {
		margin-left: 78px;
	}
	& .row {
		margin-left: auto;
	}
}



