@mixin flex($justify: space-between, $align: center, $direction: false, $wrap: false) {
	display: flex;
	justify-content: $justify;
	align-items: $align;
	@if $direction {
		flex-direction: $direction;
	}
	@if $wrap {
		flex-wrap: $wrap;
	}
}

@mixin font-props($size, $lh, $color) {
	@if $size {
		font-size: $size;
	}
	@if $lh {
		line-height: $lh;
	}
	@if $color {
		color: $color;
	}
}

@mixin roboto-light {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

@mixin roboto-regular {
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
}

@mixin roboto-bold {
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
}

